<form id="formulaire" (ngSubmit)="onSubmit()">

        <div class="input-field">
            <input id="inNom" type="text" required pattern="[A-Za-z]{*}">
            <label>Nom</label>
        </div>
    
        <div class="input-field">
            <input id="inPrenom" type="text" required pattern="[A-Za-z]{*}">
            <label>Prénom</label>
        </div>

        <div class="input-field">
            <input id="inAdresse" type="text" required>
            <label>Adresse</label>
        </div>
    
        <div class="input-field">
            <input id="inCp" type="text" required pattern="[0-9]{5}">
            <label>Code postal</label>
        </div>

        <div class="input-field">
            <input id="inVille" type="text" required>
            <label>Ville</label>
        </div>
    
        <div class="input-field">
            <input id="inTel" type="text" required pattern="[0-9]{10}">
            <label>Téléphone</label>
        </div>

        <div class="input-field">
            <input id="inMail" type="email" required>
            <label>Email</label>
        </div>
    
        <div class="input-field">
            <input id="inCivilite" type="text" required pattern="[A-Za-z]{*}">
            <label>Civilité</label>
        </div>

        <div class="input-field">
            <input id="inPassword" type="password" required>
            <label>Mot de passe</label>
        </div>
    
        <div class="input-field">
            <input id="inLogin" type="password" required>
            <label>Verification mot de passe</label>
        </div>

        <input type="submit" class="btn blue -darken 1" value="S'inscrire" />


    </form>